apiVersion: apps/v1
kind: Deployment
metadata:
  name: customers-service
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: customers-service
  template:
    metadata:
      labels:
        app: customers-service
    spec:
      containers:
      - name: customers-service
        image: gnbala9614.azurecr.io/petclinic-customers:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: customers-service-lb
spec:
  type: LoadBalancer 
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: customers-service